*{
    margin: 0;
    padding: 0;
}
/*商品列表右侧的分页器*/
#page_aside{
    width: 50px;
    height: 280px;
    position: fixed;
    top:200px;
    right: 128px;
    border-radius: 10px;
    box-shadow:3px 3px 5px ;
    z-index: 1;
    background-color: #f4eded;
    display: none;
}
#page_aside .every_style{
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fa6f57;
    text-align: center;
    font-size: 18px;
    font-family: "微软雅黑", "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif, STHeiti;
    font-weight: 500;
    cursor: pointer;
}
#page_aside .every_style:hover{
    background-color: #f8babb;
}
#page_aside div:last-child{
    border-bottom:none;
}
#page_aside.every_style.floor_active{
    background-color: #fa6f57;
    color: white;
}




/*网页主体内容，包括选择商品分类区域和商品展示区域*/
#products_tab{
    width: 1200px;
    height: 320px;
    /*background-color: #fa6f57;*/
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 100px;
    border: 1px solid #e5e5e5;
}
/*选择商品类别头部*/
#tab_head{
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}
#tab_head ul{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#tab_head li{
    width: 80px;
    height: 100%;
    list-style: none;
    float: left;
    margin-right: 50px;
    text-align: center;
    /*margin-top: 10px;*/
    padding-top: 10px;
    cursor: pointer;
}
.li_live{
    border-top:2px solid #fa6f57;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: white;
}
#tab_head li#fi_li{
    margin-left:20px;
}


/*选择商品类别主体*/
#tab_content{
    width: 100%;
    height: 280px;
    /*background-color: #fa6f57;*/
}
#tabc_l{
    width: 980px;
    height: 100%;
    /*background-color: #c1e2b3;*/
}
#tab_content .sort_tab{
    width: 912px;
    height: 96px;
    display: inline-block;
    /*background-color: #269abc;*/
    margin-left: 35px;
    margin-top: 18px;
    position: relative;
}
.sort_tab img{
    display: inline;
    margin-right: 24px;
}
.sort_tab ul{
    display: inline-block;
    position: absolute;
    top:39px;
    left: 60px;
}
.sort_tab li{
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    font-size: 12px;
    margin-bottom: 6px;
    border-right: 1px solid #919191;
}
/*商品主体显示头部，综合，标签*/
#tab_content #tabc_r{
    width: 150px;
    float: right;
    margin-top: -260px;
    margin-right: 100px;
}
#products_content{
    width: 1200px;
    height: 1500px;
    margin-top:50px;
    /*background-color: #269abc;*/
}
#choose{
    width: 100%;
    height: 40px;
    border:1px solid #e5e5e5;
    margin-top: 25px;
    position: relative;
}
#choose ul{
    width: 80%;
    height: 100%;
}
#choose li{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 9px;
    cursor: pointer;
}
#choose li input{
    width: 45px;
    height: 22px;
    border:1px solid #e5e5e5;
    padding:5px;
    outline: none;
}
#choose li button{
    background-color: white;
    border-radius: 5px;
    outline: none;
}
 #choose li #bt{
    display: inline-block;
    border:1px solid #e5e5e5;
    text-align: center;
    width: 45px;
    height: 22px;
    cursor: pointer;
    margin-left: 15px;
}
#choose li#to_pre{
    position: absolute;
    right: 60px;
    width: 50px;
    border: 1px solid #dddddd;
    background-color: #f1f1f1;
    text-align: center;
}
#choose li#to_nex{
    position: absolute;
    right: 10px;
    width: 50px;
    border: 1px solid #dddddd;
    background-color: white;
    text-align: center;
}
.chose_alive{
    color: #fa6f57;
}
/*商品显示区域*/
#products_shows{
    width: 100%;
    /*height:1720px ;*/
    /*background-color:#269abc ;*/
}
.product{
    width: 222px;
    height: 430px;
    float: left;
    margin-left: 22px;
    cursor: pointer;
}
.product img{
    width: 222px;
    height: 332px;
}
#products_shows .product:nth-child(1),
#products_shows .product:nth-child(6),
#products_shows .product:nth-child(11),
#products_shows .product:nth-child(16),
#products_shows .product:nth-child(21)
{
    margin-left: 0;
}
.product .descript{
    width: 222px;
   height: 80px;
}
.descript p.ptit{
    font-size: 14px;
    color: #666666;
}
.descript p.price{
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}
.descript span.add_cart{
   margin-right: 10px;
    font-size: 12px;
}
.descript span.love_num{
    float: right;
    margin-right: 20px;
}
.descript span{
    color: #919191;
}
.descript i{
    color: #e64346;
}